<p class="instruction">Find Bus Stop</p>

<div class="search-form">
  <form action="/" method="get" class="search">
    <input id="search" name="search" type="tel" /> <br />
    <input type="submit" value="by SMS code">
  </form>
</div>

<div class="search-form">
  <form action="/" method="get" class="search">
    <input id="search" name="search" type="text" /> <br />
    <input type="submit" value="by name">
  </form>
</div>

<p>
  Or search <a href="/nearby" class="nearby">nearby</a>
</p>

<%= erb :bus_stops %>
<%= erb :stop_points %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // submit the search form as soon as the user has finished
    // entering data (otherwise the user has to click the 'Search'
    // button separately
    var field = document.getElementById('search')
    field.onblur = function() {
      field.form.submit()
    }
  })
</script>
