<% if @stop_name %>
    <p class="stopname"><%= @stop_name %></p>
<% end %>
<%= erb :indicator_table %>
<p class="back"><a href="/">Search again</a></p>

<script type="text/javascript" charset="utf-8">
  function poll() {
    $.ajax({
      url: window.location.href+"/partial",
      error: function(xhr_data) {
        $("table#indicator").replaceWith("<h1>ERROR</h1><p>try reloading page</p>")
      },
      success: function(response) {
        $("table#indicator").replaceWith(response);
        setTimeout(function() { poll(); }, 15000);
      }
    });
  }
  $(document).ready(function() {
    poll()
  });
</script>
